# Default ignored files
/shelf/
/workspace.xml
.idea/DESAFIO-EVERYMIND---Best-Minds-2024.iml
https://github.com/victoriaspassatempo/Loja-de-esportes/blob/c7cd16c421cdeabd209f0966da0edb662be94757/.idea/encodings.xml

